body {
  display: flex;

  @media screen and (max-width: 1000px) {
    background-image: url(../img/Group.svg);
    background-size: cover;
    background-position: center;
    height: 100%;
  }

  .content {
    flex: 2;
    .session {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 50px;
      @media screen and (max-width: 1000px) {
        margin: 0;
      }

      .titleblock {
        margin-left: 50px;

        @media screen and (max-width: 1000px) {
          margin-left: 0;
          align-self: center;
        }

        .title {
          font-size: 50px;
          margin: 0;

        }

      }

      .input-form-container {
        border: none;
        border-radius: 40px;
        background: white;
        box-shadow: 0 0 50px #bebebe;
        -webkit-box-shadow: 0 0 50px #bebebe;
        transition: box-shadow 0.3s;
        height: 80px;
        width: 130%;
        margin: 70px 30px 70px 0;
        z-index: 1;

        @media screen and (max-width: 1000px) {
          width: 100%;
        }

        .input-form {
          display: flex;
          justify-content: space-around;
          align-items: center;

          border: none;

          height: 100%;
          width: 115%;

          @media screen and (max-width: 1000px) {
            flex-wrap: wrap;
            width: 100%;
          }

          label {
            margin-left: 5px;

            i {
              color: #C0C4D0;
              font-size: 2.5rem;
            }
            @media screen and (max-width: 1000px) {
              width: 15%;
            }
          }

          input[type='text'] {
            border: none;
            border-radius: 40px;

            text-indent: 25px;

            height: 70px;
            width: 60%;

            @media screen and (max-width: 1000px) {
              height: 75px;
              width: 80%;
            }

            &::placeholder {
              color: #C0C4D0;
              font-size: 1.1rem;
            }

            &:focus {
              outline: none;
            }
          }

          input[type='submit'] {
            border: none;
            border-radius: 40px;
            color: #FFFFFF;
            font-size: 1.1rem;
            background-color: rgb(80, 227, 194);
            background-color: #50E3C2;
            transition: box-shadow 0.3s;
            height: 76px;
            width: 250px;
            z-index: 2;

            @media screen and (max-width: 1000px) {
              margin: 30px;
            }

            &:hover {
              cursor: pointer;
              box-shadow: 0 0 50px #818181;
              transition: box-shadow 0.3s;
            }

            &:focus {
              outline: none;
            }
          }
        }
        @media screen and (max-width: 1000px) {
          width: 80%;
          align-self: center;
        }
      }

      .password {
        color: lightgrey;
        font-style: italic;
        text-decoration: none;
        align-self: center;

        @media screen and (max-width: 1000px) {
          margin-top: 50px;
        }
      }

    }

  }

  .wallpaper {
    flex: 3;
    background-image: url(../img/rabbit.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

}